h4 {
	text-transform: capitalize;
	font-style: italic;
	text-align: center;
	color: red;
}

div {
	color: red;
	align-content: center;
}

p {
	text-align: center;
	color: red;
}
h1 {
	text-transform: capitalize;
	font-style:italic;
	text-align: center;
	color: red;
}

body {
	background-color: black;
}

button {
	color: grey;
	background-color: red;
}

a {
	color: red;
	text-align: center;
}

ol {
	color: red;
}
